<ion-header>
  <ion-navbar>
    <ion-title>Auditoria do Veículo</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="sair()">
        <ion-icon name="md-close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

  <ion-toolbar>
    <ion-title>{{ tituloSlide }}</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="telaAssinaturaTecnico()" *ngIf="slides.getActiveIndex() == 5">
        <ion-icon name="browsers"></ion-icon>
      </button>

      <button ion-button icon-only (click)="salvarAuditoria()">
        <ion-icon name="custom-save" class="custom-save-icon"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-slides pager (ionSlideDidChange)="configurarSlide()">
    <ion-slide>
      <form #f1="ngForm" (ngSubmit)="salvarDadosCondutor(f1)" class="form">
        <ion-list>
          <ion-item class="first-item">
            <ion-label stacked>Nome</ion-label>
            <ion-input type="text" name="nome" maxlength="50" [ngModel]="dg?.usuario?.nome" placeholder="Digite seu Nome">
            </ion-input>
          </ion-item>

          <ion-item>
            <ion-label stacked>Matrícula</ion-label>
            <ion-input type="text" name="matricula" maxlength="10" [ngModel]="" placeholder="Digite sua Matrícula">
            </ion-input>
          </ion-item>

          <ion-item>
            <ion-label stacked>RG</ion-label>
            <ion-input type="text" name="rg" (keyup)="formatarCampo($event, '##########')" maxlength="10" [ngModel]=""
              placeholder="Digite seu RG"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label stacked>CPF</ion-label>
            <ion-input type="text" name="cpf" (keyup)="formatarCampo($event, '###.###.###-##')" maxlength="14"
              [ngModel]="" placeholder="Digite seu CPF"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label stacked>CNH</ion-label>
            <ion-input type="text" name="cnh" (keyup)="formatarCampo($event, '##########')" maxlength="10" [ngModel]=""
              placeholder="Digite sua CNH"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label stacked>Filial</ion-label>
            <ion-input type="text" name="filial" maxlength="10" [ngModel]="dg?.usuario?.filial.nomeFilial" placeholder="Digite seu Nome" [disabled]="true">
            </ion-input>
          </ion-item>

          <ion-item>
            <ion-label stacked>Categorias da CNH</ion-label>
            <ion-select 
              multiple="true" cancelText="Cancelar" okText="Ok"
              placeholder="Selecione..."
              name="cnhCategorias" 
              [ngModel]="" 
              interface="action-sheet"
              cancelText="Cancelar">
              <ion-option [value]="A">A</ion-option>
              <ion-option [value]="B">B</ion-option>
              <ion-option [value]="C">C</ion-option>
              <ion-option [value]="D">D</ion-option>
            </ion-select>
          </ion-item>

          <ion-item>
            <ion-label stacked>Finalidades de Uso</ion-label>
            <ion-select 
              multiple="true" cancelText="Cancelar" okText="Ok"
              placeholder="Selecione..."
              name="finalidadesUso" 
              [ngModel]="" 
              interface="action-sheet"
              cancelText="Cancelar">
              <ion-option [value]="TRABALHO">Trabalho</ion-option>
              <ion-option [value]="PESSOAL">Pessoal</ion-option>
            </ion-select>
          </ion-item>
        </ion-list>

        <div padding>
          <button ion-button color="secondary" full [disabled]="!f1.valid">Salvar</button>
        </div>
      </form>
    </ion-slide>

    <ion-slide>
      <form #f2="ngForm" (ngSubmit)="salvarDadosVeiculo(f2)" class="form">
        <ion-item-group>
          <ion-item class="first-item">
            <ion-label stacked>Placa</ion-label>
            <ion-input type="text" name="placa" maxlength="7" [ngModel]="" placeholder="Digite a Placa">
            </ion-input>
          </ion-item>
        </ion-item-group>

        <ion-item-group>
          <ion-item-divider color="light">Fotos</ion-item-divider>
          
          <ion-item>
            <ion-thumbnail item-start>
              <img src="{{ carregarFoto('AUD_FRONTAL') }}">
            </ion-thumbnail>
            <h2>Frontal</h2>
            <p>Orientações</p>
            <button ion-button color="secondary" clear icon-only item-end type="button"
              (click)="tirarFoto('AUD_FRONTAL')" *ngIf="!verificarExistenciaFoto('RAT')">
              <ion-icon name='md-add-circle' is-active="false" class="add-icon"></ion-icon>
            </button>

            <button ion-button color="danger" clear icon-only item-end type="button"
              (click)="removerFoto('AUD_FRONTAL')" *ngIf="verificarExistenciaFoto('RAT')">
              <ion-icon name='trash' is-active="false" class="trash-icon"></ion-icon>
            </button>
          </ion-item>
  
          <ion-item>
            <ion-thumbnail item-start>
              <img src="{{ carregarFoto('AUD_FRONTAL_LAT_ESQ') }}">
            </ion-thumbnail>
            <h2>Frontal/Lateral Esquerda</h2>
            <p>Orientações</p>
            <button ion-button color="secondary" clear icon-only item-end type="button"
              (click)="tirarFoto('AUD_FRONTAL_LAT_ESQ')" *ngIf="!verificarExistenciaFoto('RAT')">
              <ion-icon name='md-add-circle' is-active="false" class="add-icon"></ion-icon>
            </button>

            <button ion-button color="danger" clear icon-only item-end type="button"
              (click)="removerFoto('AUD_FRONTAL_LAT_ESQ')" *ngIf="verificarExistenciaFoto('RAT')">
              <ion-icon name='trash' is-active="false" class="trash-icon"></ion-icon>
            </button>
          </ion-item>
  
          <ion-item>
            <ion-thumbnail item-start>
              <img src="{{ carregarFoto('AUD_ODOMETRO') }}">
            </ion-thumbnail>
            <h2>Odômetro</h2>
            <p>Orientações</p>
            <button ion-button color="secondary" clear icon-only item-end type="button"
              (click)="tirarFoto('AUD_ODOMETRO')" *ngIf="!verificarExistenciaFoto('RAT')">
              <ion-icon name='md-add-circle' is-active="false" class="add-icon"></ion-icon>
            </button>

            <button ion-button color="danger" clear icon-only item-end type="button"
              (click)="removerFoto('AUD_ODOMETRO')" *ngIf="verificarExistenciaFoto('RAT')">
              <ion-icon name='trash' is-active="false" class="trash-icon"></ion-icon>
            </button>
          </ion-item>
  
          <ion-item>
            <ion-thumbnail item-start>
              <img src="{{ carregarFoto('AUD_TRAS_LAT_DIR') }}">
            </ion-thumbnail>
            <h2>Tras./Lat. Direita</h2>
            <p>Orientações</p>
            <button ion-button color="secondary" clear icon-only item-end type="button"
              (click)="tirarFoto('AUD_TRAS_LAT_DIR')" *ngIf="!verificarExistenciaFoto('RAT')">
              <ion-icon name='md-add-circle' is-active="false" class="add-icon"></ion-icon>
            </button>

            <button ion-button color="danger" clear icon-only item-end type="button"
              (click)="removerFoto('AUD_TRAS_LAT_DIR')" *ngIf="verificarExistenciaFoto('RAT')">
              <ion-icon name='trash' is-active="false" class="trash-icon"></ion-icon>
            </button>
          </ion-item>
  
          <ion-item>
            <ion-thumbnail item-start>
              <img src="{{ carregarFoto('AUD_INTERNA') }}">
            </ion-thumbnail>
            <h2>Interna</h2>
            <p>Orientações</p>
            <button ion-button color="secondary" clear icon-only item-end type="button"
              (click)="tirarFoto('AUD_INTERNA')" *ngIf="!verificarExistenciaFoto('RAT')">
              <ion-icon name='md-add-circle' is-active="false" class="add-icon"></ion-icon>
            </button>

            <button ion-button color="danger" clear icon-only item-end type="button"
              (click)="removerFoto('AUD_INTERNA')" *ngIf="verificarExistenciaFoto('RAT')">
              <ion-icon name='trash' is-active="false" class="trash-icon"></ion-icon>
            </button>
          </ion-item>
  
          <ion-item>
            <ion-thumbnail item-start>
              <img src="{{ carregarFoto('AUD_ITENS_SEG') }}">
            </ion-thumbnail>
            <h2>Ítens de Segurança</h2>
            <p>Estepe, Manual/Chave Reserva</p>
            <button ion-button color="secondary" clear icon-only item-end type="button"
              (click)="tirarFoto('AUD_ITENS_SEG')" *ngIf="!verificarExistenciaFoto('RAT')">
              <ion-icon name='md-add-circle' is-active="false" class="add-icon"></ion-icon>
            </button>

            <button ion-button color="danger" clear icon-only item-end type="button"
              (click)="removerFoto('AUD_ITENS_SEG')" *ngIf="verificarExistenciaFoto('RAT')">
              <ion-icon name='trash' is-active="false" class="trash-icon"></ion-icon>
            </button>
          </ion-item>
        </ion-item-group>

        <div padding>
          <button ion-button color="secondary" full [disabled]="!f2.valid">Salvar</button>
        </div>
      </form>
    </ion-slide>

    <ion-slide>
      <form #f3="ngForm" (ngSubmit)="salvar3(f3)" class="form">
        <ion-list>
          <ion-item-divider color="light">
            Verificações
          </ion-item-divider>

          <ion-item>
            <ion-label>Água</ion-label>
            <ion-checkbox item-right></ion-checkbox>
          </ion-item>

          <ion-item>
            <ion-label>Óleo</ion-label>
            <ion-checkbox item-right></ion-checkbox>
          </ion-item>

          <ion-item>
            <ion-label>Luzes</ion-label>
            <ion-checkbox item-right></ion-checkbox>
          </ion-item>
        </ion-list>

        <ion-list radio-group>
          <ion-item-divider color="light">
            Pneus Dianteiros
          </ion-item-divider>
        
          <ion-item>
            <ion-label>Novos</ion-label>
            <ion-radio value="0"></ion-radio>
          </ion-item>
        
          <ion-item>
            <ion-label>Bons</ion-label>
            <ion-radio value="1"></ion-radio>
          </ion-item>
        
          <ion-item>
            <ion-label>Ruins</ion-label>
            <ion-radio value="2"></ion-radio>
          </ion-item>
        </ion-list>

        <ion-list radio-group>
          <ion-item-divider color="light">
            Pneus Traseiros
          </ion-item-divider>
        
          <ion-item>
            <ion-label>Novos</ion-label>
            <ion-radio value="0"></ion-radio>
          </ion-item>
        
          <ion-item>
            <ion-label>Bons</ion-label>
            <ion-radio value="1"></ion-radio>
          </ion-item>
        
          <ion-item>
            <ion-label>Ruins</ion-label>
            <ion-radio value="2"></ion-radio>
          </ion-item>
        </ion-list>

        <ion-list radio-group>
          <ion-item-divider color="light">
            Estepe
          </ion-item-divider>
        
          <ion-item>
            <ion-label>Novos</ion-label>
            <ion-radio value="0"></ion-radio>
          </ion-item>
        
          <ion-item>
            <ion-label>Bons</ion-label>
            <ion-radio value="1"></ion-radio>
          </ion-item>
        
          <ion-item>
            <ion-label>Ruins</ion-label>
            <ion-radio value="2"></ion-radio>
          </ion-item>
        </ion-list>

        <ion-list radio-group>
          <ion-item-divider color="light">
            Revisão Programada Realizada
          </ion-item-divider>
        
          <ion-item>
            <ion-label>10.000</ion-label>
            <ion-radio value="0"></ion-radio>
          </ion-item>
        
          <ion-item>
            <ion-label>20.000</ion-label>
            <ion-radio value="1"></ion-radio>
          </ion-item>
        
          <ion-item>
            <ion-label>30.000</ion-label>
            <ion-radio value="2"></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label fixed>Outro</ion-label>
            <ion-input type="number" name="nome" maxlength="50" [ngModel]="" class="align-right" placeholder="Digite o Valor">
            </ion-input>
          </ion-item>
        </ion-list>

        <div padding>
          <button ion-button color="secondary" full [disabled]="!f3.valid">Salvar</button>
        </div>
      </form>
    </ion-slide>

    <ion-slide>
      <ion-list>
        <form #f4="ngForm" (ngSubmit)="salvar4(f4)" class="form">
          <ion-item-divider color="light">
            Selecione os acessórios que possui
          </ion-item-divider>

          <ion-item *ngFor="let acessorio of auditoria?.veiculo?.acessoriosVeiculo">
            <ion-toggle [checked]="acessorio.selecionado" (ionChange)="selecionarAcessorio(acessorio, $event)"></ion-toggle>

            <ion-label>
              {{ acessorio?.nome }}
            </ion-label>
          </ion-item>

          <div padding>
            <button ion-button color="secondary" full [disabled]="!f4.valid">Salvar</button>
          </div>
        </form>
      </ion-list>
    </ion-slide>

    <ion-slide>
      <form #f5="ngForm" (ngSubmit)="salvar5(f5)" class="form">
        <ion-list>
          <ion-item>
            <ion-label stacked>Data da Retirada</ion-label>
            <ion-input type="text" name="dataRetirada" (keyup)="formatarCampo($event, '##/##/####')" maxlength="10" [ngModel]=""
              placeholder="01/01/2001"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label stacked>Data da Auditoria</ion-label>
            <ion-input type="text" name="dataAuditoria" (keyup)="formatarCampo($event, '##/##/####')" maxlength="10" [ngModel]=""
              placeholder="01/01/2001"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label stacked>Dias em Uso</ion-label>
            <ion-input type="number" name="diasEmUso" maxlength="10" [ngModel]="" placeholder="Qtd Dias em Uso">
            </ion-input>
          </ion-item>

          <ion-item>
            <ion-label stacked>Odômetro Inicial da Retirada</ion-label>
            <ion-input type="number" name="odometroRetirada" maxlength="10" [ngModel]="" placeholder="Odômetro Inicial">
            </ion-input>
          </ion-item>

          <ion-item>
            <ion-label stacked>Odômetro no Período Auditado</ion-label>
            <ion-input type="number" name="odometroAuditoria" maxlength="10" [ngModel]="" placeholder="Odômetro Auditoria">
            </ion-input>
          </ion-item>

          <ion-item>
            <ion-label stacked>Km Percorrido no RD/SAT</ion-label>
            <ion-input type="number" name="kmRdSAT" maxlength="10" [ngModel]="" placeholder="Km Percorrido no RD/SAT">
            </ion-input>
          </ion-item>

          <ion-item>
            <ion-label stacked>Km Compensado no RD/SAT</ion-label>
            <ion-input type="number" name="kmRdSATCompensado" maxlength="10" [ngModel]="" placeholder="Km Compensado no RD/SAT">
            </ion-input>
          </ion-item>

          <ion-item>
            <ion-label stacked>Total do Km Particular</ion-label>
            <ion-input type="number" name="kmParticular" maxlength="10" [ngModel]="" placeholder="Total do Km Particular">
            </ion-input>
          </ion-item>

          <ion-item>
            <ion-label stacked>Total do Km Percorrido em Férias</ion-label>
            <ion-input type="number" name="kmParticular" maxlength="10" [ngModel]="" placeholder="Tolerância 3000 km">
            </ion-input>
          </ion-item>

          <ion-item>
            <ion-label stacked>Total do Km Particular do Mês</ion-label>
            <ion-input type="number" name="kmParticularMes" maxlength="10" [ngModel]="" placeholder="Tolerância 800 km">
            </ion-input>
          </ion-item>
        </ion-list>

        <div padding>
          <button ion-button color="secondary" full [disabled]="!f5.valid">Salvar</button>
        </div>
      </form>
    </ion-slide>

    <ion-slide>
      <p class="p-msg-2" *ngIf="!auditoria?.assinaturaTecnico">Por favor insira a sua assinatura</p>
    
      <img class="img-assinatura" *ngIf="auditoria?.assinaturaTecnico" src="{{ auditoria?.assinaturaTecnico }}" alt="">
    </ion-slide>
  </ion-slides>
</ion-content>