<ion-header>
  <ion-navbar no-border-bottom>
    <ion-title>Laudo: {{ chamado?.codOs }}</ion-title>
  </ion-navbar>
  <ion-toolbar>
    <ion-title>{{ tituloSlide }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides pager (ionSlideDidChange)="alterarSlide()">
      <ion-slide>
        <ion-list>
          <ion-item class="first-item">
            Cliente
            <ion-note item-end>
              {{ chamado?.cliente.numBanco }}-{{ chamado?.cliente.nomeCliente }}
            </ion-note>
          </ion-item>

          <ion-item>
            Agência
            <ion-note item-end>
              {{ chamado?.localAtendimento.numAgencia }}/{{ chamado?.localAtendimento.dcPosto }}
            </ion-note>
          </ion-item>

          <ion-item>
            Local
            <ion-note item-end>
              {{ chamado?.localAtendimento.nomeLocalAtendimento }}
            </ion-note>
          </ion-item>

          <ion-item>
            Série
            <ion-note item-end>
              {{ chamado?.equipamentoContrato.numSerie }}
            </ion-note>
          </ion-item>

          <ion-item class="first-item">
            Data
            <ion-note item-end>
              {{ chamado?.dataHoraSolicitacaoOS | date: 'dd/MM HH:mm' }}
            </ion-note>
          </ion-item>

          <ion-item class="first-item">
            Contato
            <ion-note item-end>
              {{ chamado?.nomeSolicitante }}
            </ion-note>
          </ion-item>

          <ion-item class="first-item">
            Protocolo STN
            <ion-note item-end>
              123456
            </ion-note>
          </ion-item>

          <ion-item class="first-item">
            Modelo
            <ion-note item-end>
              {{ chamado?.equipamentoContrato.equipamento.codEEquip }}
            </ion-note>
          </ion-item>

          <ion-item class="first-item">
            Código Pai
            <ion-note item-end>
              {{ chamado?.equipamentoContrato.contrato.codPai }}
            </ion-note>
          </ion-item>
        </ion-list>

        <p>Deslize a tela para prosseguir</p>
      </ion-slide>

      <ion-slide>
        <ion-list>
          <form #f="ngForm" (ngSubmit)="salvarLaudo(f)" class="form">
            <ion-item col-12 class="first-item">
              <ion-label stacked>Observações</ion-label>
              <ion-textarea 
                placeholder="Informe o estado da máquina quando a encontrou"
                name="observacoes"
                [ngModel]=""
                required>
              </ion-textarea>
            </ion-item>

            <ion-item col-12>
              <ion-label stacked>Teste Funcional</ion-label>
              <ion-textarea 
                placeholder="Informe todos os testes que foram realizados" 
                name="testeFuncional"
                [ngModel]=""
                required>
              </ion-textarea>
            </ion-item>

            <ion-item col-12>
              <ion-label stacked>Eventos de erro</ion-label>
              <ion-textarea 
                placeholder="Informe os erros" 
                name="eventosErro"
                [ngModel]=""
                required>
              </ion-textarea>
            </ion-item>

            <ion-item col-12>
              <ion-label stacked>Ações</ion-label>
              <ion-textarea 
                placeholder="Informe todas as ações que foram realizadas" 
                name="acoes"
                [ngModel]=""
                required>
              </ion-textarea>
            </ion-item>

            <ion-item col-12>
              <ion-label stacked>Conclusão</ion-label>
              <ion-textarea 
                placeholder="Informe seu parecer de conclusão" 
                name="conclusao"
                [ngModel]=""
                required>
              </ion-textarea>
            </ion-item>

            <div padding>
              <button
                color="secondary"
                ion-button 
                block
                [disabled]="!f.valid">
                Salvar e Prosseguir
              </button>
            </div>
          </form>
        </ion-list>
      </ion-slide>

      <ion-slide>
        <ion-list>
          <ion-item *ngFor="let foto of laudo?.fotos; let i = index">
            <ion-avatar item-start>
              <img src="{{ foto.str }}">
            </ion-avatar>
            <h2>Foto {{ i+1 }}</h2>
            <button ion-button clear item-end 
              (click)="removerFoto(i)">
              <ion-icon name="trash" color="danger" class="icon-button"></ion-icon>
            </button>
          </ion-item>
        </ion-list>

        <p class="p-msg" *ngIf="laudo?.fotos?.length == 0">Nenhuma foto adicionada</p>

        <ion-fab right bottom>
          <button ion-fab color="secondary"><ion-icon name="add"></ion-icon></button>
          <ion-fab-list side="left">
            <button ion-fab (click)="tirarFoto()" color="primary"><ion-icon  ios="ios-camera" md="md-camera"></ion-icon></button>
            <button ion-fab (click)="selecionarFotoGaleria()" color="primary"><ion-icon ios="ios-photos" md="md-photos"></ion-icon></button>
          </ion-fab-list>
        </ion-fab>
      </ion-slide>

      <ion-slide>
        <div padding>
          <button
            color="secondary"
            ion-button 
            block
            (click)="enviarLaudo()">
            Enviar
          </button>
        </div>
      </ion-slide>
    </ion-slides>
</ion-content>