<ion-header>
  <ion-navbar no-border-bottom>
    <ion-buttons end>
      <button 
        ion-button 
        icon-only 
        (click)="fecharModal()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>Laudo: {{ chamado?.codOs }}</ion-title>
  </ion-navbar>
  <ion-toolbar>
    <ion-title>{{ tituloSlide }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides pager (ionSlideDidChange)="alterarSlide()">
      <ion-slide>
        <ion-list>
          <form #f="ngForm" (ngSubmit)="criarLaudo(f)" class="form">
            <ion-item col-12 class="first-item">
              <ion-label stacked>Observações</ion-label>
              <ion-input 
                placeholder="Informe o estado do equipamento"
                name="observacoes"
                [ngModel]=""
                required>
              </ion-input>
            </ion-item>

            <ion-item col-12>
              <ion-label stacked>Teste Funcional</ion-label>
              <ion-input 
                placeholder="Informe todos os testes que foram realizados" 
                name="testeFuncional"
                [ngModel]=""
                required>
              </ion-input>
            </ion-item>

            <ion-item col-12>
              <ion-label stacked>Eventos de erro</ion-label>
              <ion-input 
                placeholder="Informe os erros encontrados" 
                name="eventosErro"
                [ngModel]=""
                required>
              </ion-input>
            </ion-item>

            <ion-item col-12>
              <ion-label stacked>Ações</ion-label>
              <ion-input 
                placeholder="Informe todas as ações que foram realizadas" 
                name="acoes"
                [ngModel]=""
                required>
              </ion-input>
            </ion-item>

            <ion-item col-12>
              <ion-label stacked>Conclusão</ion-label>
              <ion-textarea 
                placeholder="Informe seu parecer de conclusão" 
                name="conclusao"
                [ngModel]=""
                required>
              </ion-textarea>
            </ion-item>

            <div padding>
              <button
                color="secondary"
                ion-button 
                block
                [disabled]="!f.valid">
                Salvar e Prosseguir
              </button>
            </div>
          </form>
        </ion-list>
      </ion-slide>

      <ion-slide>
        <ion-list>
          <ion-item *ngFor="let foto of laudo?.fotos; let i = index">
            <ion-avatar item-start>
              <img src="{{ foto.str }}">
            </ion-avatar>
            <h2>Foto {{ i+1 }}</h2>
            <button ion-button clear item-end 
              (click)="removerFoto(i)">
              <ion-icon name="trash" color="danger" class="icon-button"></ion-icon>
            </button>
          </ion-item>
        </ion-list>

        <p class="p-msg" *ngIf="laudo?.fotos?.length == 0">Nenhuma foto adicionada</p>

        <ion-fab right bottom>
          <button ion-fab color="secondary" (click)="selecionarFoto(1)">
            <ion-icon ios="ios-camera" md="md-camera"></ion-icon>
          </button>
        </ion-fab>
      </ion-slide>

      <ion-slide>
        <div padding>
          <button
            color="secondary"
            ion-button 
            block
            (click)="salvarLaudo()">
            Salvar
          </button>
        </div>
      </ion-slide>
    </ion-slides>
</ion-content>