<ion-header>
  <ion-navbar>
    <ion-buttons end>
      <button 
        ion-button icon-only 
        (click)="telaEquipamentosHistorico(chamado)">
        <ion-icon name="clipboard"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>{{ chamado?.codOs }}</ion-title>
  </ion-navbar>
  <ion-toolbar>
    <ion-title>{{ tituloSlide }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="chamado-content-page outer-content">
  <ion-slides pager (ionSlideDidChange)="alterarSlide()" >
    <!-- Informações -->
    <ion-slide>
      <ion-list>
        <ion-item
          class="first-item">
          Data Abertura
          <ion-note item-end>
            {{ chamado?.dataHoraAberturaOS | date: 'dd/MM HH:mm' }}
          </ion-note>
        </ion-item>

        <ion-item>
          OS Cliente
          <ion-note item-end>
            {{ chamado?.numOsCliente || 'Não Informado' }}
          </ion-note>
        </ion-item>

        <ion-item>
          Cliente
          <ion-note item-end>
            {{ chamado?.cliente?.numBanco }}
            - {{ chamado?.cliente?.nomeCliente }}
          </ion-note>
        </ion-item>

        <ion-item>
          Num. Agência
          <ion-note item-end>
              {{ chamado?.localAtendimento?.numAgencia || '--' }} / {{ chamado?.localAtendimento?.dcPosto || '--' }}
          </ion-note>
        </ion-item>

        <ion-item>
          Nome Agência
          <ion-note item-end>
            {{ chamado?.localAtendimento?.nomeLocalAtendimento 
              || 'Não Informado' | ellipsis: 28 }}
          </ion-note>
        </ion-item>

        <ion-item>
          Solicitante
          <ion-note item-end>
            {{ chamado?.nomeSolicitante || 'Não Informado'  | ellipsis: 28 }}
          </ion-note>
        </ion-item>

        <ion-item>
          Modelo
          <ion-note item-end>
            {{ chamado?.equipamentoContrato?.equipamento?.codEEquip || 'Não Informado' }}
          </ion-note>
        </ion-item>

        <ion-item>
          Código Pai
          <ion-note item-end>
            {{ chamado?.equipamentoContrato?.contrato?.codPai
              || 'Não Informado' }}
          </ion-note>
        </ion-item>

        <ion-item>
          Num Série
          <ion-note item-end>
            {{ chamado?.equipamentoContrato?.numSerie
              || 'Não Informado' }}
          </ion-note>
        </ion-item>

        <ion-item>
          Nº do ATM
          <ion-note item-end>
            {{ chamado?.equipamentoContrato?.numSerieCliente
              || 'Não Informado' }}
          </ion-note>
        </ion-item>

        <ion-item>
          Nro. Contrato
          <ion-note item-end>
            {{ chamado?.equipamentoContrato?.contrato?.nroContrato
              || 'Não Informado' }}
          </ion-note>
        </ion-item>

        <ion-item>
          Nome Contrato
          <ion-note item-end>
            {{ chamado?.equipamentoContrato?.contrato?.nomeContrato
              || 'Não Informado' }}
          </ion-note>
        </ion-item>

        <ion-item 
          *ngIf="chamado?.dataHoraSolicitacaoOS 
            && chamado?.dataHoraAberturaOS 
            != chamado?.dataHoraSolicitacaoOS">
          Data Solicitação
          <ion-note item-end>
            {{ chamado?.dataHoraSolicitacaoOS 
              | date: 'dd/MM HH:mm' }}
          </ion-note>
        </ion-item>

        <ion-item 
          *ngIf="chamado?.dataFimSLA">
          Fim SLA
          <ion-note item-end>
            {{ chamado?.dataFimSLA 
              | date: 'dd/MM HH:mm' }}
          </ion-note>
        </ion-item>

        <ion-item 
          *ngIf="chamado?.dataHoraAgendamento">
          Agendado
          <ion-note item-end>
            {{ chamado?.dataHoraAgendamento 
              | date: 'dd/MM HH:mm' }}
          </ion-note>
        </ion-item>

        <ion-item>
          Status
          <ion-note item-end>
            {{ chamado?.statusServico?.nomeStatusServico 
              || 'Não Informado' | lowercase | capitalize }}
          </ion-note>
        </ion-item>

        <ion-item>
          Intervenção
          <ion-note item-end>
            {{ chamado?.tipoIntervencao?.nomeTipoIntervencao
              || 'Não Informado' | lowercase | capitalize }}
          </ion-note>
        </ion-item>

        <ion-item>
          Reincidências
          <ion-note item-end>
            {{ chamado?.numReincidencias || 'Nenhuma' }}
          </ion-note>
        </ion-item>

        <ion-item-divider 
          text-left 
          color="light">
          Defeito
        </ion-item-divider>

        <ion-item text-wrap>
          <span class="text-wrap-content">
            {{ chamado?.defeitoRelatado || 'Não Informado' 
              | lowercase | capitalize }}</span>
        </ion-item>

        <ion-item-divider 
          text-left 
          color="light">
          Observação
        </ion-item-divider>

        <ion-item 
          text-wrap>
          <span class="text-wrap-content">
            {{ chamado?.observacao || 'Não Informado' 
              | lowercase | capitalize }}</span>
        </ion-item>

        <ion-item-divider 
          text-left 
          color="light">
          Marcação Especial
        </ion-item-divider>

        <ion-item 
          text-wrap>
          <span class="text-wrap-content">
            {{ chamado?.descMotivoMarcaEspecial || 'Não Informado' 
              | lowercase | capitalize }}</span>
        </ion-item>
      </ion-list>

      <p class="slide-msg">Deslize a tela para prosseguir</p>
    </ion-slide>
    <!-- Informações -->

    <!-- Checkin -->
    <ion-slide class="slide-checkin">
      <ion-list>
        <ion-card text-left
          class="card-chamado-bloqueado"
          *ngIf="chamado?.indBloqueioReincidencia">
          <ion-card-header color="danger">
            <ion-icon
              *ngIf="chamado.indBloqueioReincidencia"
              name="lock" 
              class="title-icon"
              color="danger"
              item-start>
            </ion-icon>
            Chamado Bloqueado!
          </ion-card-header>
          <ion-card-content>
            Favor realizar contato com sua <b ion-text>Filial</b> ou 
            <b ion-text>Suporte Técnico</b> para garantir as ações necessárias 
            e liberação do chamado.
          </ion-card-content>
        </ion-card>

        <div padding *ngIf="!chamado?.checkin?.localizacao?.latitude  && !chamado?.checkin?.localizacao?.longitude">
          <button color="secondary" (click)="efetuarCheckin()" ion-button outline icon-start class="btn-checkin">
            <ion-icon name='ios-locate-outline' is-active="false"></ion-icon>

            {{ (!chamado?.checkin?.localizacao?.latitude && !chamado?.checkin?.localizacao?.longitude) ? 'Checkin' : 'Checkin Efetuado' }}
          </button>

          <p *ngIf="chamado?.indCercaEletronicaLiberada">
            O checkin pode ser efetuado fora do local de atendimento para esta OS
          </p>
        </div>
      </ion-list>

      <ion-card text-left
        *ngIf="chamado?.checkin?.localizacao?.latitude && chamado?.checkin?.localizacao?.longitude" 
        (click)="telaMapa('Checkin', chamado?.checkin?.localizacao)">
        <ion-card-header class="card-map">
          <h2>Checkin Efetuado</h2>
        </ion-card-header>
    
        <ion-item>
          <button ion-button color="silver-light" clear item-start>{{ chamado?.checkin?.dataHoraCadastro }}</button>
          <button ion-button clear item-end>Abrir no Mapa</button>
        </ion-item>
      </ion-card>
    </ion-slide>
    <!-- Checkin -->

    <!-- Imagens da RAT -->
    <ion-slide>
      <ion-item-group>
        <ion-item-divider color="light" class="first-item">3.1 RAT Física</ion-item-divider>

        <ion-item>
          <ion-avatar item-start>
            <img src="{{ carregarFoto('RAT') }}">
          </ion-avatar>
          <h2>Capturar RAT Física</h2>
          <button ion-button clear item-end 
            (click)="tirarFoto('RAT')"
            *ngIf="!verificarExistenciaFoto('RAT')"
            [disabled]="chamado?.indRatEletronica">
            <ion-icon ios="ios-camera" md="md-camera"></ion-icon>
          </button>

          <button ion-button clear item-end 
            (click)="removerFoto('RAT')"
            *ngIf="verificarExistenciaFoto('RAT')">
            <ion-icon name="trash" color="danger"></ion-icon>
          </button>

          <button ion-button clear item-end 
            (click)="telaFoto('RAT')"
            *ngIf="verificarExistenciaFoto('RAT')">
            <ion-icon name="image" color="secondary"></ion-icon>
          </button>
        </ion-item>

        <ion-item-divider color="light">3.2 Fotos do Equipamento</ion-item-divider>

        <ion-item>
          <ion-avatar item-start>
            <img src="{{ carregarFoto('ETIQUETANUMSERIE') }}">
          </ion-avatar>
          <h2>Etiqueta Número de Série</h2>
          <button ion-button clear item-end 
            (click)="tirarFoto('ETIQUETANUMSERIE')" 
            *ngIf="!verificarExistenciaFoto('ETIQUETANUMSERIE')">
            <ion-icon ios="ios-camera" md="md-camera"></ion-icon>
          </button>

          <button ion-button clear item-end 
            (click)="removerFoto('ETIQUETANUMSERIE')"
            *ngIf="verificarExistenciaFoto('ETIQUETANUMSERIE')">
            <ion-icon name="trash" color="danger"></ion-icon>
          </button>

          <button ion-button clear item-end 
            (click)="telaFoto('ETIQUETANUMSERIE')"
            *ngIf="verificarExistenciaFoto('ETIQUETANUMSERIE')">
            <ion-icon name="image" color="secondary"></ion-icon>
          </button>
        </ion-item>

        <ion-item *ngIf="!verificarSeEquipamentoEPOS()">
          <ion-avatar item-start>
            <img src="{{ carregarFoto('EQUIPAMENTOOPERACIONAL') }}">
          </ion-avatar>
          <h2>Equipamento Operacional</h2>
          <button ion-button clear item-end 
            (click)="tirarFoto('EQUIPAMENTOOPERACIONAL')" 
            *ngIf="!verificarExistenciaFoto('EQUIPAMENTOOPERACIONAL')">
            <ion-icon ios="ios-camera" md="md-camera"></ion-icon>
          </button>

          <button ion-button clear item-end 
            (click)="removerFoto('EQUIPAMENTOOPERACIONAL')"
            *ngIf="verificarExistenciaFoto('EQUIPAMENTOOPERACIONAL')">
            <ion-icon name="trash" color="danger" class="trash-icon"></ion-icon>
          </button>

          <button ion-button clear item-end 
            (click)="telaFoto('EQUIPAMENTOOPERACIONAL')"
            *ngIf="verificarExistenciaFoto('EQUIPAMENTOOPERACIONAL')">
            <ion-icon name="image" color="secondary"></ion-icon>
          </button>
        </ion-item>

        <ion-item *ngIf="!verificarSeEquipamentoEPOS()">
          <ion-avatar item-start>
            <img src="{{ carregarFoto('PARTEINTERNA') }}">
          </ion-avatar>
          <h2>Parte Interna</h2>
          <button ion-button clear item-end 
            (click)="tirarFoto('PARTEINTERNA')"
            *ngIf="!verificarExistenciaFoto('PARTEINTERNA')">
            <ion-icon ios="ios-camera" md="md-camera"></ion-icon>
          </button>

          <button ion-button clear item-end 
            (click)="removerFoto('PARTEINTERNA')"
            *ngIf="verificarExistenciaFoto('PARTEINTERNA')">
            <ion-icon name="trash" color="danger" class="trash-icon"></ion-icon>
          </button>

          <button ion-button clear item-end 
            (click)="telaFoto('PARTEINTERNA')"
            *ngIf="verificarExistenciaFoto('PARTEINTERNA')">
            <ion-icon name="image" color="secondary"></ion-icon>
          </button>
        </ion-item>

        <ion-item *ngIf="verificarSeEquipamentoEPOS()">
          <ion-avatar item-start>
            <img src="{{ carregarFoto('VERIFICACAOVERSAO') }}">
          </ion-avatar>
          <h2>Verificação da Versão</h2>
          <button ion-button clear item-end 
            (click)="tirarFoto('VERIFICACAOVERSAO')" 
            *ngIf="!verificarExistenciaFoto('VERIFICACAOVERSAO')">
            <ion-icon ios="ios-camera" md="md-camera"></ion-icon>
          </button>

          <button ion-button clear item-end 
            (click)="removerFoto('VERIFICACAOVERSAO')"
            *ngIf="verificarExistenciaFoto('VERIFICACAOVERSAO')">
            <ion-icon name="trash" color="danger" class="trash-icon"></ion-icon>
          </button>

          <button ion-button clear item-end 
            (click)="telaFoto('VERIFICACAOVERSAO')"
            *ngIf="verificarExistenciaFoto('VERIFICACAOVERSAO')">
            <ion-icon name="image" color="secondary"></ion-icon>
          </button>
        </ion-item>

        <ion-item *ngIf="verificarSeEquipamentoEPOS()">
          <ion-avatar item-start>
            <img src="{{ carregarFoto('COMPINICIALIZACAO') }}">
          </ion-avatar>
          <h2>Comprovante Inicialização</h2>
          <button ion-button clear item-end 
            (click)="tirarFoto('COMPINICIALIZACAO')" 
            *ngIf="!verificarExistenciaFoto('COMPINICIALIZACAO')">
            <ion-icon ios="ios-camera" md="md-camera"></ion-icon>
          </button>

          <button ion-button clear item-end 
            (click)="removerFoto('COMPINICIALIZACAO')"
            *ngIf="verificarExistenciaFoto('COMPINICIALIZACAO')">
            <ion-icon name="trash" color="danger" class="trash-icon"></ion-icon>
          </button>

          <button ion-button clear item-end 
            (click)="telaFoto('COMPINICIALIZACAO')"
            *ngIf="verificarExistenciaFoto('COMPINICIALIZACAO')">
            <ion-icon name="image" color="secondary"></ion-icon>
          </button>
        </ion-item>

        <ion-item *ngIf="verificarSeEquipamentoEPOS()">
          <ion-avatar item-start>
            <img src="{{ carregarFoto('PROTOCOLOVISITATECNICA') }}">
          </ion-avatar>
          <h2>Protocolo da Visita Técnica</h2>
          <button ion-button clear item-end 
            (click)="tirarFoto('PROTOCOLOVISITATECNICA')" 
            *ngIf="!verificarExistenciaFoto('PROTOCOLOVISITATECNICA')">
            <ion-icon ios="ios-camera" md="md-camera"></ion-icon>
          </button>

          <button ion-button clear item-end 
            (click)="removerFoto('PROTOCOLOVISITATECNICA')"
            *ngIf="verificarExistenciaFoto('PROTOCOLOVISITATECNICA')">
            <ion-icon name="trash" color="danger" class="trash-icon"></ion-icon>
          </button>

          <button ion-button clear item-end 
            (click)="telaFoto('PROTOCOLOVISITATECNICA')"
            *ngIf="verificarExistenciaFoto('PROTOCOLOVISITATECNICA')">
            <ion-icon name="image" color="secondary"></ion-icon>
          </button>
        </ion-item>

        <ion-item-divider color="light">3.3 Laudo Técnico</ion-item-divider>

        <ion-item>
          <ion-avatar item-start>
            <img src="assets/imgs/attachment.png">
          </ion-avatar>
          <h2>Laudo</h2>
       
          <button ion-button clear item-end (click)="telaLaudo(chamado)"
            *ngIf="!verificarExistenciaLaudo()">
            <ion-icon name="add-circle" color="primary"></ion-icon>
          </button>

          <button ion-button clear item-end (click)="removerLaudo()"
            *ngIf="verificarExistenciaLaudo()">
            <ion-icon name="trash" color="danger" class="trash-icon"></ion-icon>
          </button>
        </ion-item>
      </ion-item-group>
    </ion-slide>
    <!-- Fotos da RAT -->

    <!-- Informações da RAT -->
    <ion-slide>
      <form #f="ngForm" (ngSubmit)="salvarRat(f)" class="form">
        <ion-list>
          <ion-item col-6 class="pos-left">
            <ion-label stacked>RAT</ion-label>
            <ion-input
              type="number"
              name="numRat" 
              [placeholder]="chamado?.indRatEletronica ? 'Nro Automático' : 'Número'" 
              [disabled]="chamado?.indRatEletronica"
              [ngModel]="chamado?.rats[0]?.numRat" 
              [required]="!chamado?.indRatEletronica">
            </ion-input>
          </ion-item>

          <ion-item col-6>
            <ion-label stacked>Acompanhante</ion-label>
            <ion-input 
              type="text" 
              placeholder="Nome" 
              name="nomeAcompanhante"
              [maxlength]="50"
              [ngModel]="chamado?.rats[0]?.nomeAcompanhante">
            </ion-input>
          </ion-item>

          <ion-row class="bg-silver-light">
            <ion-col 
              col-12
              text-left
              class="no-padding padding-left">
              <ion-label
                stacked
                class="label-title"
                left-align
                style="margin-bottom: 0px;">Marcações de Ponto</ion-label>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col class="no-padding">
              <ion-item class="bg-silver-light">
                <ion-label 
                  stacked
                  class="label-title">Chegada</ion-label>
                <ion-label class="label-content">
                  {{ (usuarioPonto?.registros[0] | date:'HH:mm') || '--:--' }}
                </ion-label>
              </ion-item>
            </ion-col>

            <ion-col class="no-padding">
              <ion-item class="bg-silver-light">
                <ion-label 
                  stacked
                  class="label-title">Início</ion-label>
                <ion-label class="label-content">
                  {{ (usuarioPonto?.registros[1] | date:'HH:mm') || '--:--' }}
                </ion-label>
              </ion-item>
            </ion-col>

            <ion-col class="no-padding">
              <ion-item class="bg-silver-light">
                <ion-label 
                  stacked 
                  class="label-title">Fim</ion-label>
                <ion-label class="label-content">
                  {{ (usuarioPonto?.registros[2] | date:'HH:mm') || '--:--' }}
                </ion-label>
              </ion-item>
            </ion-col>
            
            <ion-col class="no-padding">
              <ion-item class="bg-silver-light">
                <ion-label stacked class="label-title">Saída</ion-label>
                <ion-label class="label-content">
                  {{ (usuarioPonto?.registros[3] | date:'HH:mm') || '--:--' }}
                </ion-label>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col 
              col-12
              text-left
              class="no-padding padding-left">
              <ion-label
                stacked
                class="label-title"
                left-align>Horários do Atendimento
              </ion-label>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col class="no-padding">
              <ion-item>
                <ion-label stacked>Data</ion-label>
                <ion-datetime 
                  displayFormat="DD/MM"
                  pickerFormat="DD MMM"
                  placeholder="01 Jan 2017"
                  name="dataInicio"
                  cancelText="Cancelar"
                  doneText="Selecionar"
                  [ngModel]="chamado?.rats[0]?.dataInicio || dataAtual"
                  required></ion-datetime>
              </ion-item>
            </ion-col>
            <ion-col class="no-padding">
              <ion-item>
                <ion-label stacked>Hora Início</ion-label>
                <ion-datetime 
                  displayFormat="HH:mm"
                  pickerFormat="HH:mm"
                  placeholder="08:00" 
                  name="horaInicio"
                  cancelText="Cancelar"
                  doneText="Selecionar"
                  [initialValue]="horaAtual"
                  [ngModel]="chamado?.rats[0]?.horaInicio"
                  required>
                </ion-datetime>
              </ion-item>
            </ion-col>
            <ion-col class="no-padding">
              <ion-item>
                <ion-label stacked>Hora Solução</ion-label>
                <ion-datetime 
                  displayFormat="HH:mm"
                  pickerFormat="HH:mm"
                  placeholder="09:00"
                  name="horaSolucao" 
                  cancelText="Cancelar"
                  doneText="Selecionar"
                  [initialValue]="horaAtual"
                  [ngModel]="chamado?.rats[0]?.horaSolucao"
                  required>
                </ion-datetime>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-item>
            <ion-label stacked>Solução</ion-label>
            <ion-textarea 
              placeholder="Descreva o serviço realizado" 
              name="obsRAT"
              [maxlength]="1000"
              [ngModel]="chamado?.rats[0]?.obsRAT"
              required>
            </ion-textarea>
          </ion-item>

          <div padding>
            <button
              color="secondary"
              ion-button 
              block
              [disabled]="!f.valid">
              Salvar e Prosseguir
            </button>
          </div>
        </ion-list>
      </form>
    </ion-slide>
    <!-- Informações da RAT -->

    <!-- Detalhes da RAT -->
    <ion-slide>
      <ion-list class="list-slide">
        <ion-fab right bottom>
          <button 
            ion-fab color="secondary" 
            (click)="telaRatDetalhe()"
            [disabled]="chamado?.rats?.length == 0">
            <ion-icon name="add" *ngIf="!chamado?.rats[0]?.defeitoPOS"></ion-icon>

            <ion-icon name="create" *ngIf="chamado?.rats[0]?.defeitoPOS"></ion-icon>
          </button>
        </ion-fab>
  
        <ion-item
          *ngFor="let ratDetalhe of chamado?.rats[0]?.ratDetalhes; let i = index">
          <ion-label>
            {{ ratDetalhe?.causa?.codECausa }} - {{ ratDetalhe?.causa?.nomeCausa }}
          </ion-label>

          <button
            class="pecas-button"
            ion-button
            clear
            item-end
            (click)="telaRatDetalhePeca(chamado, i)">
            Peças ({{ chamado.rats[0].ratDetalhes[i].pecas.length }})
          </button>

          <button ion-button clear item-end 
            (click)="removerRatDetalhe(ratDetalhe, i)">
            <ion-icon name="trash"></ion-icon>
          </button>
        </ion-item>

        <ion-item *ngIf="chamado?.rats[0]?.ratDetalhes?.length == 0 && !chamado?.rats[0]?.defeitoPOS">
          <p text-center class="p-msg">Insira os detalhes da RAT</p>
        </ion-item>

        <ion-item *ngIf="chamado?.rats[0]?.defeitoPOS">
          <p text-center class="p-msg">Detalhes inseridos.</p>
        </ion-item>
      </ion-list>
    </ion-slide>
    <!-- Detalhes da RAT -->

    <!-- Checkout -->
    <ion-slide class="slide-checkout">
      <ion-list>
        <div padding *ngIf="!chamado?.checkout?.localizacao?.latitude && !chamado?.checkout?.localizacao?.longitude">
          <button color="secondary" outline ion-button icon-start (click)="efetuarCheckout()" class="btn-checkout">
            <ion-icon name='ios-locate-outline' is-active="false"></ion-icon>
            
            {{ (!chamado?.checkout?.localizacao?.latitude && !chamado?.checkout?.localizacao?.longitude) ? 'Checkout' : 'Checkout Efetuado' }}
          </button>

          <p *ngIf="chamado?.indCercaEletronicaLiberada">
            O checkout pode ser efetuado fora do local de atendimento para esta OS
          </p>
        </div>
      </ion-list>

      <ion-card text-left
        *ngIf="chamado?.checkout?.localizacao?.latitude && chamado?.checkout?.localizacao?.longitude"
        (click)="telaMapa('Checkout', chamado?.checkout?.localizacao)">
        <ion-card-header class="card-map">
          <h2>Checkout Efetuado</h2>
        </ion-card-header>
    
        <ion-item>
          <button ion-button color="silver-light" clear item-start>{{ chamado?.checkin?.dataHoraCadastro }}</button>
          <button ion-button clear item-end>Abrir no Mapa</button>
        </ion-item>
      </ion-card>
    </ion-slide>
    <!-- Checkout -->

    <!-- Conferência -->
    <ion-slide>
      <ion-item-divider 
        class="first-divider text-left"
        color="light">RAT</ion-item-divider>

        <ion-item>
          Número da RAT
          <ion-note item-end>
            {{ chamado?.rats[0]?.numRat }}
          </ion-note>
        </ion-item>

        <ion-item>
          Checkin
          <ion-note item-end>
            {{ chamado?.checkin?.dataHoraCadastro }}
          </ion-note>
        </ion-item>

        <ion-item>
          Checkout
          <ion-note item-end>
            {{ chamado?.checkout?.dataHoraCadastro }}
          </ion-note>
        </ion-item>

        <ion-item>
          Início do Atendimento
          <ion-note item-end>
            {{ chamado?.rats[0]?.dataInicio | date:'dd/MM' }}
            {{ chamado?.rats[0]?.horaInicio }}
          </ion-note>
        </ion-item>

        <ion-item>
          Solução do Atendimento
          <ion-note item-end>
            {{ chamado?.rats[0]?.dataInicio | date:'dd/MM' }}
            {{ chamado?.rats[0]?.horaSolucao }}
          </ion-note>
        </ion-item>

        <ion-item>
          Acompanhante
          <ion-note item-end>
            {{ chamado?.rats[0]?.nomeAcompanhante }}
          </ion-note>
        </ion-item>

        <ion-item-divider 
          color="light"
          class="text-left">Solução </ion-item-divider>

        <ion-item text-wrap>
          <span class="inf-bas">
            {{ chamado?.rats[0]?.obsRAT }}</span>
        </ion-item>

        <div *ngFor="let ratDetalhe of chamado?.rats[0]?.ratDetalhes; let i = index">
          <ion-item-divider 
            color="light"
            class="text-left">
            Detalhe 
            <ion-badge 
              item-end
              class="badge"
              color="light">{{ i + 1 }}/{{ chamado?.rats[0]?.ratDetalhes?.length }}</ion-badge>
          </ion-item-divider>

          <ion-item>
            Tipo da Causa
            <ion-note item-end>
              {{ ratDetalhe?.tipoCausa?.nomeTipoCausa 
                | lowercase | capitalize | ellipsis: 20 }}
            </ion-note>
          </ion-item>

          <ion-item>
            Tipo de Serviço
            <ion-note item-end>
              {{ ratDetalhe?.tipoServico?.nomeTipoServico 
                | lowercase | capitalize | ellipsis: 20 }}
            </ion-note>
          </ion-item>

          <ion-item>
            Causa
            <ion-note item-end>
              {{ ratDetalhe?.causa?.codECausa }}
              - {{ ratDetalhe?.causa?.nomeCausa | lowercase | capitalize | ellipsis: 22 }}
            </ion-note>
          </ion-item>

          <ion-item>
            Defeito
            <ion-note item-end>
              {{ ratDetalhe?.defeito?.codEDefeito }}
              - {{ ratDetalhe?.defeito?.nomeDefeito | lowercase | capitalize | ellipsis: 20 }}
            </ion-note>
          </ion-item>

          <ion-item>
            Ação
            <ion-note item-end>
              {{ ratDetalhe?.acao?.codEAcao }}
              - {{ ratDetalhe?.acao?.nomeAcao | lowercase | capitalize | ellipsis: 20}}
            </ion-note>
          </ion-item>

          <div *ngFor="let peca of ratDetalhe?.pecas; let i = index">
            <ion-item-divider 
              color="light"
              class="text-left">
              Peça 
              <ion-badge 
                item-end
                class="badge"
                color="light">{{ i + 1 }}/{{ ratDetalhe?.pecas?.length }}</ion-badge>
            </ion-item-divider>

            <ion-item>
              Peça
              <ion-note item-end>
                {{ peca?.nomePeca | lowercase | capitalize | ellipsis: 20 }}
              </ion-note>
            </ion-item>

            <ion-item>
              Qtd
              <ion-note item-end>
                {{ peca.qtd }}
              </ion-note>
            </ion-item>
          </div>
        </div>
    </ion-slide>
    <!-- Conferência -->

    <!-- Fechamento -->
    <ion-slide class="slide-fechar">
      <ion-list>
        <div padding>
          <button 
            color="secondary"
            ion-button 
            outline
            (click)="fecharChamado()"
            class="btn-fechar">
            Fechar o Chamado
          </button>
        </div>
      </ion-list>
    </ion-slide>
    <!-- Fechamento -->
  </ion-slides>
</ion-content>