historico-lista-page {
    ion-list-header {
        padding-top: 12px !important;
        margin-bottom: -4px !important;
    }

    .cod-os {
        font-size: 18px;
        font-weight: bold;
    }
}