<ion-header>
  <ion-navbar no-border-bottom>
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-buttons end>
      <button ion-button icon-only (click)="abrirPopover($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
    
    <ion-title>App Técnicos</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-divider 
      color="danger"
      *ngIf="!versaoAppAtualizada">
      Aplicativo Desatualizado
      <button 
        (click)="abrirAplicativoNaLojaGoogle()" 
        color="white" ion-button item-end outline>Atualizar
      </button>
    </ion-item-divider>

    <ion-item-divider 
      color="danger"
      *ngIf="necessidadeRegistrarIntervalo">
      Atenção! Não ultrapassar 6h contínuas de trabalho!
    </ion-item-divider>

    <button 
      ion-item
      class="first-item"
      (click)="telaChamados()">
      <ion-icon 
        color="primary" 
        name="clipboard" 
        item-start></ion-icon>
      Chamados
      <ion-badge 
        item-end
        *ngIf="chamados?.length" 
        [ngClass]="{ 'bd-red': chamados?.length > 0 }">
        {{ chamados?.length }}
      </ion-badge>
    </button>

    <button 
      ion-item
      (click)="telaPecas()">
      <ion-icon 
        color="primary" 
        name="build" 
        item-start></ion-icon>
      Peças
    </button>

    <button 
      ion-item 
      (click)="telaMensagensTecnico()">
      <ion-icon 
        color="primary" 
        name="mail" 
        item-start></ion-icon>
      Mensagens
      <ion-badge 
        item-end
        *ngIf="qtdMensagensTecnicoNaoLidas"
        [ngClass]="{ 'bd-red': qtdMensagensTecnicoNaoLidas }">
        {{ qtdMensagensTecnicoNaoLidas }}
      </ion-badge>
    </button>

    <button
      ion-item
      (click)="telaIndicadoresMenu()">
      <ion-icon 
        color="primary" 
        name="pie" 
        item-start></ion-icon>
      Indicadores
    </button>

    <button
      ion-item
      *ngIf="!platform.is('cordova')"
      (click)="telaFerramentasTecnico()">
      <ion-icon 
        color="primary" 
        name="md-briefcase" 
        item-start></ion-icon>
      Ferramentas
    </button>

    <button
      ion-item
      *ngIf="!platform.is('cordova')"
      (click)="telaMinhaRota()">
      <ion-icon 
        color="primary" 
        name="map" 
        item-start></ion-icon>
      Minha Rota
    </button>

    <button
      ion-item
      *ngIf="true"
      (click)="telaTeste()">
      <ion-icon 
        color="primary" 
        name="apps" 
        item-start></ion-icon>
      Teste
    </button>
  </ion-list>
</ion-content>