.cards-bg {
    background-color: #F4F4F7;
}

.bg-silver {
    background-color: rgba(228, 228, 228, 0.788);
}

.bg-silver-light {
    background-color: rgba(228, 228, 228, 0.240);
}

.bg-green {
    background-color: #C1FFC1;
}

.font-green {
    color: #32db64 !important;
}

.bg-gray {
    background-color: gray;
}

.bd-red {
    background-color: #f53d3d;
}

.bg-blue {
    background-color: #488aff;
}

.bg-yellow {
    background-color: #ffc125;
}

.user-name {
    color: silver;
}

.first-divider, .first-item {
    padding-top: 4px !important;
}