sobre-page {
    .logo {
        margin-top: 24px !important;
        margin-bottom: -10px !important;
        width: 240px;
    }

    ion-footer {
        text-align: center !important;
    }

    .footer {
        font-size: 12pt;
        line-height: 20px;
    }
}