<ion-header>
  <ion-navbar>
    <ion-title>Performance do Técnico</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list no-border>
    <br>
    <ion-item>
      Legenda
      <ion-badge item-end> Meus Dados</ion-badge>
      <ion-badge item-end color="energized">Melhor Técnico</ion-badge>
    </ion-item>
  </ion-list>

  <ion-list no-border>
    <ion-item-divider class="first-divider" color="light">Atendimentos</ion-item-divider>

    <ion-item>
      OS's Atendidas
      <ion-badge item-end>{{ qtdOSGeral }}</ion-badge>
      <ion-badge item-end color="energized">{{ qtdOSGeralMelhorTecnico }}</ion-badge>
    </ion-item>

    <ion-item>
      Corretivas
      <ion-badge item-end>{{ qtdOSCorretiva }}</ion-badge>
      <ion-badge item-end color="energized">{{ qtdOSCorretivaMelhorTecnico }}</ion-badge>
    </ion-item>

    <ion-item>
      Preventivas
      <ion-badge item-end>{{ qtdOSPreventiva }}</ion-badge>
      <ion-badge item-end color="energized">{{ qtdOSPreventivaMelhorTecnico }}</ion-badge>
    </ion-item>

    <ion-item>
      Outras
      <ion-badge item-end>{{ qtdOSOutrasIntervencoes }}</ion-badge>
      <ion-badge item-end color="energized">{{ qtdOSOutrasIntervencoesMelhorTecnico }}</ion-badge>
    </ion-item>
  
    <ion-item>
      Média de Atendimentos Diários
      <ion-badge item-end>{{ mediaAtendimentosDia }}</ion-badge>
      <ion-badge item-end color="energized">{{ mediaAtendimentosDiaMelhorTecnico }}</ion-badge>
    </ion-item>

    <ion-item>
      Desvio da Meta Diária
      <ion-badge item-end>{{ desvioMediaAtendimentosDia }}</ion-badge>
      <ion-badge item-end color="energized">{{ desvioMediaAtendimentosDiaMelhorTecnico }}</ion-badge>
    </ion-item>
  </ion-list>
    
  <ion-list no-border>
    <ion-item-divider color="light">OS's Fechadas</ion-item-divider>

    <ion-item>
      OS's Fechadas
      <ion-badge item-end>{{ qtdOSGeral }}</ion-badge>
    </ion-item>

    <ion-item>
      Qtd Troca de Peças
      <ion-badge item-end>{{ qtdPecasTrocadas }}</ion-badge>
    </ion-item>

    <ion-item>
      Peças Trocadas (%)
      <ion-badge item-end>{{ percChamadosFechadosPecasTrocadas }}</ion-badge>
    </ion-item>
  </ion-list>

  <ion-list no-border>
    <ion-item-divider color="light">Peças Mais Trocadas</ion-item-divider>

    <ion-spinner *ngIf="pecasMaisTrocadas.length == 0"></ion-spinner>

    <ion-item *ngFor="let pecaTrocada of pecasMaisTrocadas; let i = index">
      {{ i+1 }}&#186; &#8226; {{ pecaTrocada.nomePeca }}
      <ion-badge item-end>{{ pecaTrocada.qtd }}</ion-badge>
    </ion-item>
  </ion-list>

  <ion-list no-border>
    <ion-item-divider color="light">Peças Mais Pendenciadas</ion-item-divider>

    <ion-spinner *ngIf="pecasMaisPendenciadas.length == 0"></ion-spinner>

    <ion-item *ngFor="let pecaPendenciada of pecasMaisPendenciadas; let i = index">
      {{ i+1 }}&#186; &#8226; {{ pecaPendenciada.nomePeca }}
      <ion-badge item-end>{{ pecaPendenciada.qtd }}</ion-badge>
    </ion-item>
  </ion-list>
</ion-content>