<ion-header>
  <ion-navbar>
    <ion-title>Acumulado do Técnico</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list no-border>
    <ion-list-header>
      Atendimentos
    </ion-list-header>

    <ion-item>
      OS's Atendidas
      <ion-badge item-end>{{ qtdOSGeral }}</ion-badge>
      <ion-badge item-end color="energized">{{ qtdOSGeralMelhorTecnico }}</ion-badge>
    </ion-item>

    <ion-item>
      Corretivas
      <ion-badge item-end>{{ qtdOSCorretiva }}</ion-badge>
      <ion-badge item-end color="energized">{{ qtdOSCorretivaMelhorTecnico }}</ion-badge>
    </ion-item>

    <ion-item>
      Preventivas
      <ion-badge item-end>{{ qtdOSPreventiva }}</ion-badge>
      <ion-badge item-end color="energized">{{ qtdOSPreventivaMelhorTecnico }}</ion-badge>
    </ion-item>

    <ion-item>
      Outras
      <ion-badge item-end>{{ qtdOSOutrasIntervencoes }}</ion-badge>
      <ion-badge item-end color="energized">{{ qtdOSOutrasIntervencoesMelhorTecnico }}</ion-badge>
    </ion-item>
  </ion-list>

  <ion-list no-border>
    <ion-list-header>
      Média de Atendimentos
    </ion-list-header>

    <ion-item>
      Média de Atendimentos Diários
      <ion-badge item-end>{{ mediaAtendimentosDia }}</ion-badge>
      <ion-badge item-end color="energized">{{ mediaAtendimentosDiaMelhorTecnico }}</ion-badge>
    </ion-item>

    <ion-item>
      Desvio da Meta Diária
      <ion-badge item-end>{{ desvioMediaAtendimentosDia }}</ion-badge>
      <ion-badge item-end color="energized">{{ desvioMediaAtendimentosDiaMelhorTecnico }}</ion-badge>
    </ion-item>

    <ion-item>
      OS's Fechadas
      <p>Trocas de Peças: {{ qtdPecasTrocadas }} ({{ percChamadosFechadosPecasTrocadas }}%)</p>
      <ion-badge item-end>{{ qtdOSGeral }}</ion-badge>
    </ion-item>
  </ion-list>

  <ion-list no-border>
    <ion-list-header>
      Peças Mais Trocadas
    </ion-list-header>

    <ion-item *ngFor="let pecaTrocada of pecasMaisTrocadas; let i = index">
      {{ i+1 }}&#186; &#8226; {{ pecaTrocada.nomePeca }}
      <ion-badge item-end>{{ pecaTrocada.qtd }}</ion-badge>
    </ion-item>
  </ion-list>

  <ion-list no-border>
    <ion-list-header>
      Peças Mais Pendenciadas
    </ion-list-header> 

    <ion-item *ngFor="let pecaPendenciada of pecasMaisPendenciadas; let i = index">
      {{ i+1 }}&#186; &#8226; {{ pecaPendenciada.nomePeca }}
      <ion-badge item-end>{{ pecaPendenciada.qtd }}</ion-badge>
    </ion-item>
  </ion-list>

  <ion-list no-border>
    <ion-list-header>
      Legenda
    </ion-list-header>

    <ion-item>
      <ion-badge>
        Técnico
      </ion-badge>
      <ion-badge color="energized">
        Melhor Técnico
      </ion-badge>
    </ion-item>
  </ion-list>
</ion-content>